
ul {
    display:flex;
}

li {
    display: inline-block;
    padding: 7%;
}

p {
    display: inline-block;
}

.menu {
    display:inline-block;
}

.firstName{
    font-weight:bold;
    padding: 10px;
    letter-spacing: 2px;
}

.projectOne {
    display:flex;
    justify-content:center;
}

.projectTwo {
    display:flex;
    justify-content:center;
}

.projectThree {
    display:flex;
    justify-content:center;
}

.middleName {
    font-weight:bold;
    padding:10px;
    letter-spacing: 2px;
}

.lastName {
    padding:10px;
    letter-spacing: 2px;
    padding-right:800px;
}

.heroImg {
    height: 600px;
    justify-content:center;
    padding-top:100px;
}

.home {
    text-decoration:underline;
    font-weight:bold;
}

footer {
    display:flex;
    justify-content:space-between;
    width:90%;
    margin:5%;
    
}


.content {
    width: 500px;
    margin: 0 auto;
    justify-content:center;
}

header {
    display:flex;
    justify-content:space-between;
}



.button2 {
    background-color: #fff;
    color: #000;
    text-align: center;
    border-color: rgb(105, 105, 105);
    padding: 10px 20px;
    display:flex;
    justify-content: center;
   
}

h4 {
    font-weight:normal;
    text-align:center;
}


.flexContainer {
    display:flex;
    justify-content: space-around;
}



.mySkills{
    padding-bottom: 100px;
}

.workGrid {
    display:block;
    padding-bottom:50px;
    background-color: #f2f2f2;
    width:88%;
    margin:5%;
    padding:1%;
    
}

.workGrid2 {
    display: block;
    padding-bottom:50px;
    background-color: #f2f2f2;
    width:88%;
    margin:5%;
    padding:1%;
    
}

.workGrid3 {
    display: block;
    padding-bottom:50px;
    background-color: #f2f2f2;
    width:88%;
    margin:5%;
    padding:1%;
   
}

.viewProjects {
padding-bottom:50px;
}

hr.solid {
    display:flex;
    justify-content:center;
    border-top: .5px solid #d2d2d2;
    width:90%;
    margin:5%;
  }


@media only screen and (max-width:600) {
    .flexContainer{flex-direction:column;}
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    .workGrid {
      grid-template-columns:1fr;
    }
  }